.idea/.gitignore
.idea/deployment.xml
.idea/jsLibraryMappings.xml
.idea/lqd-notes.iml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/dictionaries/david.xml
